## Imports

In [1]:
import numpy as np 
import pandas as pd 
import matplotlib.pyplot as plt 
import seaborn as sb 

%matplotlib inline

**Loading our data**

In [2]:
train = pd.read_csv("Train.csv")

train.head()

,Place_ID X Date,Date,Place_ID,target,target_min,target_max,target_variance,target_count,precipitable_water_entire_atmosphere,relative_humidity_2m_above_ground,...,L3_SO2_sensor_zenith_angle,L3_SO2_solar_azimuth_angle,L3_SO2_solar_zenith_angle,L3_CH4_CH4_column_volume_mixing_ratio_dry_air,L3_CH4_aerosol_height,L3_CH4_aerosol_optical_depth,L3_CH4_sensor_azimuth_angle,L3_CH4_sensor_zenith_angle,L3_CH4_solar_azimuth_angle,L3_CH4_solar_zenith_angle
0,010Q650 X 2020-01-02,2020-01-02,010Q650,38.0,23.0,53.0,769.50,92,11.000000,60.200001,...,38.593017,-61.752587,22.363665,1793.793579,3227.855469,0.010579,74.481049,37.501499,-62.142639,22.545118
1,010Q650 X 2020-01-03,2020-01-03,010Q650,39.0,25.0,63.0,1319.85,91,14.600000,48.799999,...,59.624912,-67.693509,28.614804,1789.960449,3384.226562,0.015104,75.630043,55.657486,-53.868134,19.293652
2,010Q650 X 2020-01-04,2020-01-04,010Q650,24.0,8.0,56.0,1181.96,96,16.400000,33.400002,...,49.839714,-78.342701,34.296977,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,010Q650 X 2020-01-05,2020-01-05,010Q650,49.0,10.0,55.0,1113.67,96,6.911948,21.300001,...,29.181258,-73.896588,30.545446,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,010Q650 X 2020-01-06,2020-01-06,010Q650,21.0,9.0,52.0,1164.82,95,13.900001,44.700001,...,0.797294,-68.612480,26.899694,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
test = pd.read_csv("Test.csv")

test.head()

,Place_ID X Date,Date,Place_ID,precipitable_water_entire_atmosphere,relative_humidity_2m_above_ground,specific_humidity_2m_above_ground,temperature_2m_above_ground,u_component_of_wind_10m_above_ground,v_component_of_wind_10m_above_ground,L3_NO2_NO2_column_number_density,...,L3_SO2_sensor_zenith_angle,L3_SO2_solar_azimuth_angle,L3_SO2_solar_zenith_angle,L3_CH4_CH4_column_volume_mixing_ratio_dry_air,L3_CH4_aerosol_height,L3_CH4_aerosol_optical_depth,L3_CH4_sensor_azimuth_angle,L3_CH4_sensor_zenith_angle,L3_CH4_solar_azimuth_angle,L3_CH4_solar_zenith_angle
0,0OS9LVX X 2020-01-02,2020-01-02,0OS9LVX,11.600000,30.200001,0.00409,14.656824,3.956377,0.712605,0.000053,...,1.445658,-95.984984,22.942019,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,0OS9LVX X 2020-01-03,2020-01-03,0OS9LVX,18.300001,42.900002,0.00595,15.026544,4.230430,0.661892,0.000050,...,34.641758,-95.014908,18.539116,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,0OS9LVX X 2020-01-04,2020-01-04,0OS9LVX,17.600000,41.299999,0.00590,15.511041,5.245728,1.640559,0.000050,...,55.872276,-94.015418,14.140820,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,0OS9LVX X 2020-01-05,2020-01-05,0OS9LVX,15.011948,53.100002,0.00709,14.441858,5.454001,-0.190532,0.000055,...,59.174188,-97.247602,32.730553,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,0OS9LVX X 2020-01-06,2020-01-06,0OS9LVX,9.700000,71.599998,0.00808,11.896295,3.511787,-0.279441,0.000055,...,40.925873,-96.057265,28.320527,1831.261597,3229.118652,0.031068,-100.278343,41.84708,-95.910744,28.498789

**Checking the Data type of our target**

In [4]:
train.target.dtype

dtype('float64')

In [5]:
train.shape

(30557, 82)

In [6]:
test.shape

(16136, 77)

**Target and target related columns**

In [7]:
diff = [tr for tr in train.columns if tr not in test.columns]

print(diff)

['target', 'target_min', 'target_max', 'target_variance', 'target_count']

**Seeems we have 4 that's intresting**

## Exploring train

In [8]:
train.dtypes.head()

Place_ID X Date     object
Date                object
Place_ID            object
target             float64
target_min         float64
dtype: object

In [9]:
train.shape

(30557, 82)

## Checking for percentage of missing values

In [10]:
null_perCols = (train.isna().sum()[train.isnull().sum() > 0] /train.shape[0]*100).sort_values(ascending = False)

In [11]:
null_perCols[null_perCols > 50]

L3_CH4_solar_zenith_angle                        81.04526
L3_CH4_solar_azimuth_angle                       81.04526
L3_CH4_sensor_zenith_angle                       81.04526
L3_CH4_sensor_azimuth_angle                      81.04526
L3_CH4_aerosol_optical_depth                     81.04526
L3_CH4_aerosol_height                            81.04526
L3_CH4_CH4_column_volume_mixing_ratio_dry_air    81.04526
dtype: float64

**Function to drop columns with large number of missing values**

In [12]:
def baseline_clean(df):
    drops = ["L3_CH4_solar_zenith_angle", "L3_CH4_solar_azimuth_angle", "L3_CH4_sensor_zenith_angle","L3_CH4_sensor_zenith_angle", \
             "L3_CH4_sensor_azimuth_angle", "L3_CH4_aerosol_optical_depth", "L3_CH4_aerosol_height", "L3_CH4_CH4_column_volume_mixing_ratio_dry_air"]
    
    df = df.drop(drops , axis = 1)
    
    return df

**Train remove**

In [13]:
new_train = baseline_clean(train)

In [14]:
new_train.dtypes[new_train.dtypes == "object"]

Place_ID X Date    object
Date               object
Place_ID           object
dtype: object

In [15]:
new_train["Place_ID X Date"]

0        010Q650 X 2020-01-02
1        010Q650 X 2020-01-03
2        010Q650 X 2020-01-04
3        010Q650 X 2020-01-05
4        010Q650 X 2020-01-06
                 ...
30552    YWSFY6Q X 2020-03-15
30553    YWSFY6Q X 2020-03-16
30554    YWSFY6Q X 2020-03-17
30555    YWSFY6Q X 2020-03-18
30556    YWSFY6Q X 2020-03-19
Name: Place_ID X Date, Length: 30557, dtype: object

In [16]:
new_train["Place_ID"]

0        010Q650
1        010Q650
2        010Q650
3        010Q650
4        010Q650
          ...
30552    YWSFY6Q
30553    YWSFY6Q
30554    YWSFY6Q
30555    YWSFY6Q
30556    YWSFY6Q
Name: Place_ID, Length: 30557, dtype: object

In [17]:
# Splitting the "Place_ID X Date" column and creating a new DataFrame
to_check = new_train["Place_ID X Date"].str.split(" X ", expand=True)

# Naming the columns in the new DataFrame
to_check.columns = ["NewPlace_ID", "NewDate"]

to_check.head()

  NewPlace_ID     NewDate
0     010Q650  2020-01-02
1     010Q650  2020-01-03
2     010Q650  2020-01-04
3     010Q650  2020-01-05
4     010Q650  2020-01-06

**Checking if `Place_ID X Date` is a composition of `Place_ID` and `Date`**

In [18]:
to_check["Date"] = new_train["Date"]
to_check["Place_ID"] = new_train["Place_ID"]

to_check.head()

  NewPlace_ID     NewDate        Date Place_ID
0     010Q650  2020-01-02  2020-01-02  010Q650
1     010Q650  2020-01-03  2020-01-03  010Q650
2     010Q650  2020-01-04  2020-01-04  010Q650
3     010Q650  2020-01-05  2020-01-05  010Q650
4     010Q650  2020-01-06  2020-01-06  010Q650

**Clarification**

In [19]:
print((to_check["Date"].values == to_check["NewDate"].values).sum(), to_check.shape[0])
print((to_check["Place_ID"].values == to_check["NewPlace_ID"].values).sum(), to_check.shape[0])

30557 30557
30557 30557

## `Date` column would make meaningfull features ?

In [20]:
new_train["Date"].str.split("-")

0        [2020, 01, 02]
1        [2020, 01, 03]
2        [2020, 01, 04]
3        [2020, 01, 05]
4        [2020, 01, 06]
              ...
30552    [2020, 03, 15]
30553    [2020, 03, 16]
30554    [2020, 03, 17]
30555    [2020, 03, 18]
30556    [2020, 03, 19]
Name: Date, Length: 30557, dtype: object

In [21]:
new_train.Place_ID.value_counts()

Place_ID
010Q650    94
JSXAVKO    94
I5RGE5G    94
I6718VY    94
I6VIR8R    94
           ..
LKE9VQB    41
S91MBTB    29
6KAHP8X    12
MJSB8K5     7
5IUK9TG     3
Name: count, Length: 340, dtype: int64

## Function to extract Date columns and label encode Place_ID

In [22]:
from sklearn.preprocessing import LabelEncoder

def baseline_clean(df):
    drops = ["L3_CH4_solar_zenith_angle", "L3_CH4_solar_azimuth_angle", "L3_CH4_sensor_zenith_angle","L3_CH4_sensor_zenith_angle", \
             "L3_CH4_sensor_azimuth_angle", "L3_CH4_aerosol_optical_depth", "L3_CH4_aerosol_height", "L3_CH4_CH4_column_volume_mixing_ratio_dry_air"]
    
    df = df.drop(drops , axis = 1)
    df[["year", "month", "date"]] = df["Date"].str.split("-", expand = True)
    df[["year", "month", "date"]] = df[["year", "month", "date"]].apply(pd.to_numeric)

    lb_Encoder = LabelEncoder()
    lb_Encoder.fit(df["Place_ID"])

    df["Encoded_PlaceID"] = lb_Encoder.transform(df["Place_ID"])
    df = df.drop(columns = ["Place_ID", "Date"])
    
    return df

## Function at work

In [23]:
train_df = baseline_clean(train)

In [24]:
train_df.shape

(30557, 77)

In [25]:
train_df["Encoded_PlaceID"]

0          0
1          0
2          0
3          0
4          0
        ...
30552    339
30553    339
30554    339
30555    339
30556    339
Name: Encoded_PlaceID, Length: 30557, dtype: int64

In [26]:
train_df.dtypes[train_df.dtypes == "object"]

Place_ID X Date    object
dtype: object

In [27]:
print(diff)

['target', 'target_min', 'target_max', 'target_variance', 'target_count']

## Using `KNNImputer` to impute missing numerical values

In [28]:
from sklearn.impute import KNNImputer

train_targets = train_df[diff]
train_df = train_df.drop(columns = ["Place_ID X Date", "target","target_min", "target_max", "target_variance","target_count"])

imputer = KNNImputer(n_neighbors = 5)

train_impute = imputer.fit_transform(train_df)

train_impute

array([[1.10000000e+01, 6.02000008e+01, 8.03999975e-03, ...,
        1.00000000e+00, 2.00000000e+00, 0.00000000e+00],
       [1.46000004e+01, 4.87999992e+01, 8.39000009e-03, ...,
        1.00000000e+00, 3.00000000e+00, 0.00000000e+00],
       [1.63999996e+01, 3.34000015e+01, 7.49999983e-03, ...,
        1.00000000e+00, 4.00000000e+00, 0.00000000e+00],
       ...,
       [7.09999990e+00, 6.85000000e+01, 3.55999987e-03, ...,
        3.00000000e+00, 1.70000000e+01, 3.39000000e+02],
       [1.91000004e+01, 6.63000031e+01, 5.22999978e-03, ...,
        3.00000000e+00, 1.80000000e+01, 3.39000000e+02],
       [1.16000004e+01, 6.84000015e+01, 4.85999975e-03, ...,
        3.00000000e+00, 1.90000000e+01, 3.39000000e+02]])

In [29]:
train_df.shape

(30557, 71)

In [30]:
train_imputed = pd.DataFrame(train_impute, columns = train_df.columns)

train_imputed.head()

,precipitable_water_entire_atmosphere,relative_humidity_2m_above_ground,specific_humidity_2m_above_ground,temperature_2m_above_ground,u_component_of_wind_10m_above_ground,v_component_of_wind_10m_above_ground,L3_NO2_NO2_column_number_density,L3_NO2_NO2_slant_column_number_density,L3_NO2_absorbing_aerosol_index,L3_NO2_cloud_fraction,...,L3_SO2_absorbing_aerosol_index,L3_SO2_cloud_fraction,L3_SO2_sensor_azimuth_angle,L3_SO2_sensor_zenith_angle,L3_SO2_solar_azimuth_angle,L3_SO2_solar_zenith_angle,year,month,date,Encoded_PlaceID
0,11.000000,60.200001,0.00804,18.516840,1.996377,-1.227395,0.000074,0.000156,-1.231330,0.006507,...,-1.861476,0.000000,76.536426,38.593017,-61.752587,22.363665,2020.0,1.0,2.0,0.0
1,14.600000,48.799999,0.00839,22.546533,3.330430,-1.188108,0.000076,0.000197,-1.082553,0.018360,...,-1.452612,0.059433,-14.708036,59.624912,-67.693509,28.614804,2020.0,1.0,3.0,0.0
2,16.400000,33.400002,0.00750,27.031030,5.065727,3.500559,0.000067,0.000170,-1.001242,0.015904,...,-1.572950,0.082063,-105.201338,49.839714,-78.342701,34.296977,2020.0,1.0,4.0,0.0
3,6.911948,21.300001,0.00391,23.971857,3.004001,1.099468,0.000083,0.000175,-0.777019,0.055765,...,-1.239317,0.121261,-104.334066,29.181258,-73.896588,30.545446,2020.0,1.0,5.0,0.0
4,13.900001,44.700001,0.00535,16.816309,2.621787,2.670559,0.000070,0.000142,0.366323,0.028530,...,0.202489,0.037919,58.850179,0.797294,-68.612480,26.899694,2020.0,1.0,6.0,0.0

## Test

In [32]:
test.head()

,Place_ID X Date,Date,Place_ID,precipitable_water_entire_atmosphere,relative_humidity_2m_above_ground,specific_humidity_2m_above_ground,temperature_2m_above_ground,u_component_of_wind_10m_above_ground,v_component_of_wind_10m_above_ground,L3_NO2_NO2_column_number_density,...,L3_SO2_sensor_zenith_angle,L3_SO2_solar_azimuth_angle,L3_SO2_solar_zenith_angle,L3_CH4_CH4_column_volume_mixing_ratio_dry_air,L3_CH4_aerosol_height,L3_CH4_aerosol_optical_depth,L3_CH4_sensor_azimuth_angle,L3_CH4_sensor_zenith_angle,L3_CH4_solar_azimuth_angle,L3_CH4_solar_zenith_angle
0,0OS9LVX X 2020-01-02,2020-01-02,0OS9LVX,11.600000,30.200001,0.00409,14.656824,3.956377,0.712605,0.000053,...,1.445658,-95.984984,22.942019,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,0OS9LVX X 2020-01-03,2020-01-03,0OS9LVX,18.300001,42.900002,0.00595,15.026544,4.230430,0.661892,0.000050,...,34.641758,-95.014908,18.539116,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,0OS9LVX X 2020-01-04,2020-01-04,0OS9LVX,17.600000,41.299999,0.00590,15.511041,5.245728,1.640559,0.000050,...,55.872276,-94.015418,14.140820,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,0OS9LVX X 2020-01-05,2020-01-05,0OS9LVX,15.011948,53.100002,0.00709,14.441858,5.454001,-0.190532,0.000055,...,59.174188,-97.247602,32.730553,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,0OS9LVX X 2020-01-06,2020-01-06,0OS9LVX,9.700000,71.599998,0.00808,11.896295,3.511787,-0.279441,0.000055,...,40.925873,-96.057265,28.320527,1831.261597,3229.118652,0.031068,-100.278343,41.84708,-95.910744,28.498789

In [33]:
test_df = baseline_clean(test)
test_df.head()

,Place_ID X Date,precipitable_water_entire_atmosphere,relative_humidity_2m_above_ground,specific_humidity_2m_above_ground,temperature_2m_above_ground,u_component_of_wind_10m_above_ground,v_component_of_wind_10m_above_ground,L3_NO2_NO2_column_number_density,L3_NO2_NO2_slant_column_number_density,L3_NO2_absorbing_aerosol_index,...,L3_SO2_absorbing_aerosol_index,L3_SO2_cloud_fraction,L3_SO2_sensor_azimuth_angle,L3_SO2_sensor_zenith_angle,L3_SO2_solar_azimuth_angle,L3_SO2_solar_zenith_angle,year,month,date,Encoded_PlaceID
0,0OS9LVX X 2020-01-02,11.600000,30.200001,0.00409,14.656824,3.956377,0.712605,0.000053,0.000108,0.466171,...,-0.140458,0.032071,68.099367,1.445658,-95.984984,22.942019,2020,1,2,0
1,0OS9LVX X 2020-01-03,18.300001,42.900002,0.00595,15.026544,4.230430,0.661892,0.000050,0.000109,-0.213659,...,-0.842713,0.040803,75.936813,34.641758,-95.014908,18.539116,2020,1,3,0
2,0OS9LVX X 2020-01-04,17.600000,41.299999,0.00590,15.511041,5.245728,1.640559,0.000050,0.000134,-0.254250,...,-0.716770,0.007113,75.552445,55.872276,-94.015418,14.140820,2020,1,4,0
3,0OS9LVX X 2020-01-05,15.011948,53.100002,0.00709,14.441858,5.454001,-0.190532,0.000055,0.000155,-0.268490,...,-0.730104,0.062076,-102.285125,59.174188,-97.247602,32.730553,2020,1,5,0
4,0OS9LVX X 2020-01-06,9.700000,71.599998,0.00808,11.896295,3.511787,-0.279441,0.000055,0.000131,0.460720,...,-0.108353,0.042777,-102.133957,40.925873,-96.057265,28.320527,2020,1,6,0

In [34]:
test_df.dtypes[test_df.dtypes == "object"]

Place_ID X Date    object
dtype: object

In [35]:
test_df.shape

(16136, 72)

In [36]:
test_df = test_df.drop(columns = "Place_ID X Date")
test_df.shape

(16136, 71)

## Imputation on Test

In [37]:
test_impute = imputer.transform(test_df)

test_impute

array([[1.16000004e+01, 3.02000008e+01, 4.08999994e-03, ...,
        1.00000000e+00, 2.00000000e+00, 0.00000000e+00],
       [1.83000011e+01, 4.29000015e+01, 5.94999967e-03, ...,
        1.00000000e+00, 3.00000000e+00, 0.00000000e+00],
       [1.76000004e+01, 4.12999992e+01, 5.89999976e-03, ...,
        1.00000000e+00, 4.00000000e+00, 0.00000000e+00],
       ...,
       [1.91706409e+01, 8.62000046e+01, 6.55999966e-03, ...,
        4.00000000e+00, 2.00000000e+00, 1.78000000e+02],
       [8.40000057e+00, 6.64000015e+01, 4.56999987e-03, ...,
        4.00000000e+00, 3.00000000e+00, 1.78000000e+02],
       [6.50000000e+00, 8.15999985e+01, 5.08000003e-03, ...,
        4.00000000e+00, 4.00000000e+00, 1.78000000e+02]])

In [38]:
test_imputed = pd.DataFrame(test_impute, columns = test_df.columns)

test_imputed.head()

,precipitable_water_entire_atmosphere,relative_humidity_2m_above_ground,specific_humidity_2m_above_ground,temperature_2m_above_ground,u_component_of_wind_10m_above_ground,v_component_of_wind_10m_above_ground,L3_NO2_NO2_column_number_density,L3_NO2_NO2_slant_column_number_density,L3_NO2_absorbing_aerosol_index,L3_NO2_cloud_fraction,...,L3_SO2_absorbing_aerosol_index,L3_SO2_cloud_fraction,L3_SO2_sensor_azimuth_angle,L3_SO2_sensor_zenith_angle,L3_SO2_solar_azimuth_angle,L3_SO2_solar_zenith_angle,year,month,date,Encoded_PlaceID
0,11.600000,30.200001,0.00409,14.656824,3.956377,0.712605,0.000053,0.000108,0.466171,0.010752,...,-0.140458,0.032071,68.099367,1.445658,-95.984984,22.942019,2020.0,1.0,2.0,0.0
1,18.300001,42.900002,0.00595,15.026544,4.230430,0.661892,0.000050,0.000109,-0.213659,0.028307,...,-0.842713,0.040803,75.936813,34.641758,-95.014908,18.539116,2020.0,1.0,3.0,0.0
2,17.600000,41.299999,0.00590,15.511041,5.245728,1.640559,0.000050,0.000134,-0.254250,0.010374,...,-0.716770,0.007113,75.552445,55.872276,-94.015418,14.140820,2020.0,1.0,4.0,0.0
3,15.011948,53.100002,0.00709,14.441858,5.454001,-0.190532,0.000055,0.000155,-0.268490,0.088795,...,-0.730104,0.062076,-102.285125,59.174188,-97.247602,32.730553,2020.0,1.0,5.0,0.0
4,9.700000,71.599998,0.00808,11.896295,3.511787,-0.279441,0.000055,0.000131,0.460720,0.041197,...,-0.108353,0.042777,-102.133957,40.925873,-96.057265,28.320527,2020.0,1.0,6.0,0.0

In [39]:
train_targets.head()

   target  target_min  target_max  target_variance  target_count
0    38.0        23.0        53.0           769.50            92
1    39.0        25.0        63.0          1319.85            91
2    24.0         8.0        56.0          1181.96            96
3    49.0        10.0        55.0          1113.67            96
4    21.0         9.0        52.0          1164.82            95

## `Train` Features and `target` feature

In [41]:
X, y = train_imputed, train_targets["target"]

In [46]:
from sklearn.preprocessing import MinMaxScaler
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error

scaler = MinMaxScaler()
scaled_X = scaler.fit_transform(X)

In [47]:
X_train, X_test, y_train, y_test = train_test_split(scaled_X, y, test_size=0.2, random_state=42)

In [48]:
#Xgboost

In [49]:
import xgboost as xgb

In [50]:
xgb_model = xgb.XGBRegressor(objective ='reg:squarederror', max_depth=15, n_estimators=100, random_state=42)  # Adjust parameters as needed
xgb_model.fit(X_train, y_train)

XGBRegressor(base_score=None, booster=None, callbacks=None,
             colsample_bylevel=None, colsample_bynode=None,
             colsample_bytree=None, early_stopping_rounds=None,
             enable_categorical=False, eval_metric=None, feature_types=None,
             gamma=None, gpu_id=None, grow_policy=None, importance_type=None,
             interaction_constraints=None, learning_rate=None, max_bin=None,
             max_cat_threshold=None, max_cat_to_onehot=None,
             max_delta_step=None, max_depth=15, max_leaves=None,
             min_child_weight=None, missing=nan, monotone_constraints=None,
             n_estimators=100, n_jobs=None, num_parallel_tree=None,
             predictor=None, random_state=42, ...)

In [51]:
# Make predictions on the test set
y_pred = xgb_model.predict(X_test)

In [52]:
# Calculate Mean Squared Error (MSE)
mse = mean_squared_error(y_test, y_pred)

# Calculate Root Mean Squared Error (RMSE)
rmse = np.sqrt(mse)

# Print or use the RMSE value as needed
print("Root Mean Squared Error (RMSE):", rmse)

Root Mean Squared Error (RMSE): 29.75550405319232

**Our rmse looks intresting but a cross validation test would have been more accurate**

In [53]:
xgb_model.fit(scaled_X, y)

XGBRegressor(base_score=None, booster=None, callbacks=None,
             colsample_bylevel=None, colsample_bynode=None,
             colsample_bytree=None, early_stopping_rounds=None,
             enable_categorical=False, eval_metric=None, feature_types=None,
             gamma=None, gpu_id=None, grow_policy=None, importance_type=None,
             interaction_constraints=None, learning_rate=None, max_bin=None,
             max_cat_threshold=None, max_cat_to_onehot=None,
             max_delta_step=None, max_depth=15, max_leaves=None,
             min_child_weight=None, missing=nan, monotone_constraints=None,
             n_estimators=100, n_jobs=None, num_parallel_tree=None,
             predictor=None, random_state=42, ...)

In [55]:
test_scaled = scaler.transform(test_imputed)

In [56]:
y_pred = xgb_model.predict(test_scaled)

In [57]:
prediction = pd.Series(y_pred, name = "target")

In [58]:
submission = pd.concat([test["Place_ID X Date"], prediction], axis = 1)
submission.head()

        Place_ID X Date     target
0  0OS9LVX X 2020-01-02  42.172283
1  0OS9LVX X 2020-01-03  45.034595
2  0OS9LVX X 2020-01-04  40.486160
3  0OS9LVX X 2020-01-05  19.891390
4  0OS9LVX X 2020-01-06  46.938175

In [59]:
submission.to_csv("submission_One.csv", index = False)